section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 50px;
    font-family: bebas;
}
.perfil1 {
	background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 25px;
	width: 350px;
	border-radius: 30%;
	-webkit-transform: width 2s; /* For Safari 3.1 to 6.0 */
}

.perfil1:hover {
    width: 500px;
}

div {
	display: flex;
	justify-content: center;
}
div img {
	padding: 25px;
	width: 50px;
}